@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-position: center;
  background-size: cover;
}
.main .profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  padding: 30px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.main .image{
  position: relative;
  height: 150px;
  width: 150px;
}
.main .image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.main .data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.main .data h2{
  font-size: 33px;
  font-weight: 600;
}
.main span{
  font-size: 18px;
}
.main .row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.main .row .info{
  text-align: center;
  padding: 0 20px;
}
.main .buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.main .buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: var(--primary-color);
}
.main .buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}